body{
    margin:0;
    background: #2F2E41;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.page{
    width: 1090px;
    padding-top: 70px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    

    margin-bottom: 100px;
}

ul{
    display: flex;
    gap: 64px;
}
li{    
    font-family: 'JetBrains Mono', monospace;
      
    list-style: none; 
}

a{
    color: #fff;
    text-decoration: none;  
}

a:hover{
    color: #00BFA6;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
}

p{
    font-size: 16px;
    line-height: 28px;
    text-align: center;

    width: 604px;
    color: #C2C2C2;

    margin-top: 60px;

}

p span{
    font-weight: bold;
}

p strong, h1 span{
    color: #00BFA6;
}

footer{
    width: 568px;
    margin: 160px auto 20px;
    
    text-align: center;    
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
}


footer div{
    border: 1px solid #00BFA6;
    height:0;
    margin-bottom: 28px;
}

#cadeado{
    position: fixed;
    left: 20px;
    bottom: 20px;
}